<h1>Add waypoints to the Event</h1>
<p>Event id: <%=event_id%></p>
<% if (lat) { %>
	<form method="POST" action="waypointadd">
		<input type="hidden" name="lat" value="<%=lat%>">
		<input type="hidden" name="long" value="<%=long%>">
		<input type="hidden" name="untappd_id" value="<%=untappd_id%>">
		<input type="text" name="name" value="<%=name%>" disabled>
		<input type="text" name="address" value="<%=address%>" disabled>
		<input type="text" name="city" value="<%=city%>" disabled>
		<input type="text" name="state" value="<%=state%>" disabled>
		<input type="submit" value="Add">
	</form>
<% } %>
<form method="POST" action="addwaypoints">
	<label for="waypointName">Waypoint name:</label>
	<input name="waypointName" type="text">
	<label for="waypointLocation">Waypoint city,state (optional)</label>
	<input name="waypointLocation" type="text">
	<input type="hidden" name="event_id" value="<%=event_id%>">
	<input type="submit" value="Search">
</form>
<div id="map" style="width: 500px; height: 500px"></div>

	<script>
		mapboxgl.accessToken = "<%=mapboxAccessToken%>";
		var map = new mapboxgl.Map({
			container: "map",
			style: "mapbox://styles/mapbox/light-v10",
			center: [-122.3321, 47.6062],
			zoom: 9
		});

map.on('load', function(){
    map.addLayer({
      "id": "points",
      "type": "symbol",
      "source": {
        "type": "geojson",
        "data": {
          "type": "FeatureCollection",
          "features": [<%- markers %>]
        }
      },
      "layout": {
        "icon-image": "{icon}-15",
        "text-field": "{title}",
        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
        "text-offset": [0, 0.6],
        "text-anchor": "top"
      }
    })
  })
	</script>	
</div>