<h1>Your Events</h1>

<% events.forEach(event => { %>
	<p><%=event.name%> on <%=event.date%></p>
	<p><%=event.participants.length%> participants attending, 
		<% event.participants.forEach(participant => { %>
			<%=participant.username%> (<%=participant.firstname%>)
		<% }) %></p>
	<form method="GET" action="events/show/<%=event.id%>">
		<input type="submit" value="Edit">
	</form>
	<hr />
<% }) %>