<h1><%=event.name%></h1>
<% var eventDateString = event.date.getFullYear() + "-" + ("0" + (event.date.getMonth()+1)).toString().slice(-2) + "-" + ("0" + (event.date.getDay())).toString().slice(-2)%>
<form method="POST" action="/events/edit/<%=event.id%>">
	<input type="hidden" name="id" value="<%=event.id%>">
	<label for="name">Event Name:</label>
	<input name="name" type="text" value="<%=event.name%>">
	<label for="date">Event Date:</label>
	<input name="date" type="date" value="<%=eventDateString%>">
	<textarea name="description"><%=event.description%></textarea>
	<input type="submit" value="Update">
</form>

<p>Last updated <%=event.updatedAt%></p>