<h1><%=event.name%></h1>

<form method="POST" action="/events/edit/<%=event.id%>">
	<input type="hidden" name="id" value="<%=event.id%>">
	<label for="name">Event Name:</label>
	<input name="name" type="text" value="<%=event.name%>">
	<label for="date">Event Date:</label>
	<input name="date" type="date" value="<%=event.date%>">
	<textarea name="description"><%=event.description%></textarea>
	<input type="submit" value="Update">
</form>

<p>Last updated <%=event.updatedAt%></p>

<p>Waypoints</p>
<% event.waypoints.forEach(waypoint => { %>
	<p><%=waypoint.name%></p>
<% }) %>
<form method="GET" action="/events/addwaypoints/<%=event.id%>">
	<input type="submit" value="Add!">
</form>

<p>Invitees</p>
<% event.participants.forEach(participant => { %>
	<p><%=participant.username%></p>
<% }) %>

<p>Invite More Participants!</p>
<form method="POST" action="/events/show/<%=event.id%>">
<input type="hidden" name="id" value="<%=event.id%>">
<select name="inviteeId">
<% 	participants.forEach(p => {
		if (isInInvitees(p.username, event.participants) == false) { %>
			<option value="<%=p.id%>"><%=p.username%></option>
<%		}
 	}) %>
</select>
<input type="submit" value="Add!">
</form>

<%	function isInInvitees(name, invitees) {
		// take an invitee out of the possibles list so that
		// the user sees only possibles that haven't been invited
		for(invitee of invitees) {
			if(invitee.username == name) {
				return true;
			}
		}
		return false;
	}
%>